/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#primary-action-button{
    position:fixed;
    bottom:1.5em;
    right:1.5em;
    z-index:1;
}

#secondary-action-button{
    position: relative;
    clear: right;
}

.map{
    width:100%;
    height:20em;
}
.map-small{
    width: 100%;
    height: 10em;
}

.action-button{
    clear: both
}

#modal_custom{
    visibility: hidden;
    left:25%;
    position: fixed;
    top: 40px;
    z-index:100;
    width: 100%;

}
/*
    Img Cards
*/
.demo-card-image.mdl-card {
  width: 256px;
  height: 256px;
  background: url('../assets/demos/image_card.jpg') center / cover;
}
.demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}


