<p id="notice"><%= notice %></p>

<h1>Listing Locations</h1>
<div id="location_list">
  <%= render :partial => 'show' %>
</div>
<br>

<!-- Colored FAB button with ripple -->
<a onclick="openModal()">
  <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored", id="primary-action-button">
    <i class="material-icons">add</i>
  </button>
</a>

<div id="modal_custom">
  <%= render :partial => 'new' %>
</div>