<!DOCTYPE html>
<html>
  <head>
    <title>BranVan</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
    <!-- Material Design Lite -->
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.indigo-red.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    <!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Brandeis BranVan</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="">Reservations</a>
        <a class="mdl-navigation__link" href="http://brandeis.transloc.com/t/routes/4004834">Track the Branvan</a>
        <a class="mdl-navigation__link" href="">Admin</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Brandeis BranVan</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Make a Reservation</a>
      <a class="mdl-navigation__link" href="">Past Reservations</a>
      <a class="mdl-navigation__link" href="http://brandeis.transloc.com/t/routes/4004834">Track the BranVan</a>
      <a class="mdl-navigation__link" href="">My Favorites</a>
      <a class="mdl-navigation__link" href="">Invites</a>
      <a class="mdl-navigation__link" href="">Admin</a>
      <a class="mdl-navigation__link" href="">Log Out</a>
    </nav>
  </div> 
    
  <main class="mdl-layout__content">
    <div class="page-content">
      
    <%= yield %>
    <!-- Your content goes here -->
  
      <!-- Full Width Section 
       <div class="top" style="background-color: lightgray; color: gray; padding: 30px; margin-bottom: 10px;">
        <center>
           <h3>Checkout the Grid Below!</h3>
           <h5>Inside you'll find four cards</h5> 
        </center>
      </div> 


      
    
      
    <!-- Icons with Badges -->
    <div style="padding:25px;">
      <center>
          
          <p>Here are some icons with badges!</p>
       
            <!-- Number badge on icon -->
            <div class="icon material-icons mdl-badge closer" data-badge="1">account_box</div>
            <!-- Icon badge on icon -->
            <div class="icon material-icons mdl-badge closer" data-badge="♥">account_box</div>
        
          <br><br>  
          <p>Check out some tool tips!</p>
          <!-- Simple Tooltip -->
          <div id="tt1" class="icon material-icons">add</div>
          <div class="mdl-tooltip" for="tt1">
          Follow
          </div>
          
          &nbsp;&nbsp;

          <!-- Large Tooltip -->
          <div id="tt2" class="icon material-icons">print</div>
          <div class="mdl-tooltip mdl-tooltip--large" for="tt2">
          Print
          </div>
        
        &nbsp;&nbsp;

        <!-- Rich Tooltip -->
          <div id="tt3" class="icon material-icons">cloud_upload</div>
          <div class="mdl-tooltip" for="tt3">
          Upload <strong>file.zip</strong>
          </div>
        
          &nbsp;&nbsp;

          <!-- Multiline Tooltip -->
          <div id="tt4" class="icon material-icons">share</div>
          <div class="mdl-tooltip" for="tt4">
          Share your content<br>via social media
          </div>
        <br>
      </center>
    </div>
    
      
    <!-- Begin Footer -->
    <footer class="demo-footer mdl-mini-footer">
          <div class="mdl-mini-footer--left-section">
            <ul class="mdl-mini-footer--link-list">
              <li><a href="#">Help</a></li>
              <li><a href="#">Privacy and Terms</a></li>
              <li><a href="#">User Agreement</a></li>
            </ul>
          </div>
    </footer>
    <!-- End Footer -->
    
  </main>
</div>
    
    
  </body>
</html>